.cart-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cartproduct {
   
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    border: solid 1px #ddd;
}


.cartproduct .img img {
    height: 100px;
    width: 100px;
}
.cartheading{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}